html{
	font-family: sans-serif;
}

body{
	margin: 0;
}

nav{
	display: block;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

.navbar {
    display: none;
  }